{% extends 'layout.html.twig' %}
{% block title %}Commande validée{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Votre commande est validée</h1>
        <hr class="my-4">
        <a href="/">Revenir au shop</a>
        <hr class="my-4">
        {% if session.transaction %}
            <a href="{{session.transaction}}" target="_blank">Détails de votre transaction.</a>
        {% endif %}
    </div>
</div>
{% endblock %}